<div id="bye">Click me</div>

<h1>Cities</h1>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  // Write your JS here.
  // Open the JS console and refresh the page to see the output.

  /* function fizzbuzz() {
    for (let i = 1; i < 101; i ++)
    if (i % 15 === 0) {
      console.log("fizzbuzz");
    } else if (i % 5 === 0) {
      console.log("buzz");
    } else if (i % 3 === 0) {
      console.log("fizz");
    } else 
      console.log(`${i}`)
  }
  */

  let items = document.getElementsByTagName("li");

  let chi = $("#ord");
  chi.css("background-color", "green")
  
  let list = document.getElementById("cities_list");

  let eastItems = document.getElementsByClassName("east");
  for (let i = 0; i < eastItems.length; i++) {
    eastItems[i].style.border = "thin red solid"
  }

  let den = document.createElement("li")
  let den_text = document.createTextNode("Denver")
  den.append(den_text)
  den.style.background = "orange"
  den.className = "west"
  den.id = "den"
  list.prepend(den)   

  $("body").on("click", "#bye", function() {
    $(".west").slideToggle();
  });
</script>
